 <div class="homeContainer">
    <h3>Music powered by 
    <i class="fa fa-soundcloud"></i>SoundCloud</h3>

<form ng-submit="search(query)">
  <input placeholder="Search For Music" ng-model="query">
  <button>Search</button>
</form>

<hr>

<ul class="small-block-grid-3">
  <li class="track" ng-repeat="song in songs" ng-click="playMe(song)">
    <img ng-if="song.artwork_url" ng-src="{{ song.artwork_url }}">
    <img ng-if="!song.artwork_url" src="http://placehold.it/100x100">
    <p class="trackInfo">{{ song.title }}</p>
  </li>
</ul>


<div class="audio" ng-show="audio">
  <audio controls="controls" src="{{ audio }}" autoplay></audio>
  <span>Playing: {{ playing.title }}</span>
</div>
</div>
  </div>